LOG_DIR = ${STARROCKS_HOME}/log
meta_dir = /opt/starrocks/fe/meta
priority_networks = {{ hostvars[inventory_hostname].private_ip }}

# Ports
http_port = 8030
rpc_port = 9020
query_port = 9030
edit_log_port = 9010
